<html>

<head>
    <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/auth/login.css">
        <title>Login - The Steaming Gourmet</title>
</head>

<body>
    <div class="container">
        <%- include('../partials/side_menu_sec.ejs') %>
            <h1 class="roboto">Login to <span>The Steaming Gourmet</span></h1>

            <div class="form">
                <form action="/login" method="post">

                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Enter Your Email">

                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Enter a Password">

                    <button type="submit">Login</button>
                </form>
            </div>

            <a class="login-links" href="/signup" class="signup">Don't have an account? Signup</a>
            <a class="login-links" href="/signup" class="signup">Forgot Password?</a>

            <footer>
                The Steaming Gourmet &copy; || All Rights Reserved
            </footer>
    </div>

</body>

</html>